.container {
  width: 95%;
  margin: auto;
  max-width: 1200px;
}

.product-figure {
  margin: 0;
}

.figure-image {
  width: 100%;
}

.product-title {
  color: #444444;
  margin: 0;
}

.product-list-data {
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: #444444;
}

.product-list-data li {
  list-style: none;
}

.list-data-item::before {
  content: '\2605 \2605 \2605 \2605 \2605';
  color: #eb3535;
  margin-right: 5px;
}

.product-price {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin: 10px 0;
}

.price {
  color: #444444;
  font-weight: bold;
  font-size: 1.6rem;
  margin: 0;
}

.price-stock {
  text-transform: uppercase;
  font-weight: bold;
}

.green {
  color: #1cc01c;
}
.red {
  color: #eb3535;
}

.product-description {
  color: #444444;
  font-size: 1.2rem;
  font-weight: lighter;
}

.product-list {
  padding: 0;
}

.product-list li {
  list-style: none;
  margin: 5px 0;
  color: #444444;
}

.product-list li::before {
  content: '\2192';
  color: #1cc01c;
  font-size: 1rem;
  margin-right: 8px;
}

.buttons {
  display: flex;
  column-gap: 10px;
  margin: 15px 0;
}

.product-detail .btn {
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  padding: 13px 20px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
}

.buttons .btn-blue {
  background-color: #00acee;
}

.buttons .btn-green {
  background-color: #4eb92d;
}

@media screen and (min-width: 576px) {
  .product-list-data {
    column-gap: 10px;
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    padding: 0;
    color: #444444;
  }

  .list-data-item {
    padding: 0 10px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
  }
}

@media screen and (min-width: 768px) {
  .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .product {
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: 500px;
  }
}
