/* .hero {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.hero-item {
  height: 200px;
  background-color: brown;
} */

.list-products {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 550px;
  row-gap: 20px;
}

@media screen and (min-width: 576px) {
  /* .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .hero-item-1 {
    background-color: #53c058;
    grid-area: 1/1/3/3;
  }
  .hero-item-2 {
    background-color: #c0536e;
  }
  .hero-item-3 {
    background-color: #5375c0;
  }
  .hero-item-4 {
    background-color: #b0c053;
    grid-area: 3/2/5/3;
  } */

  .list-products {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    column-gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  .list-products {
    grid-template-columns: repeat(3, minmax(325px, 1fr));
  }
}

@media screen and (min-width: 992px) {
  .list-products {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .list-products {
    grid-template-columns: repeat(5, 1fr);
  }
}
